::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: rgb(255,207,153); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 192, 127); 
}

.button {
  margin-top:auto;
  display: inline-flex;
  height: 25px;
  padding: 0;
  background-color: rgb(60, 117, 240);
  border: none;
  outline: none;
  border-radius: 7px;
  font-family: 'Quicksand' , sans-serif;
  font-size: 15px;
  font-weight: 400;
  cursor:pointer;
  text-align:center;
  position: relative;
  top:-103px;
  right:-88%;
  transition-duration: 0.5s;
}
.button:hover {
  background: rgb(0, 39, 167);
  box-shadow: 0 16px 24px 0 rgba(42, 95, 194, 0.2), 0 12px 20px 0 rgba(34, 64, 194, 0.781);
}

.button:active {
  background: rgb(57, 18, 199);
}

.button__text,
.button__icon{
  display: inline-flex;
  align-items: center;
  padding: 0 3px;
  color:whitesmoke;
  height: 100%;
}

.button2{
      display: inline-block;
      margin-top:auto;
      height: 25px;
      padding: 0;
      background-color: rgb(255, 0, 0);
      border: none;
      border-radius: 7px;
      overflow: hidden;
      font-family: 'Quicksand' , sans-serif;
      font-size: 15px;
      font-weight: 400;
      cursor:pointer;
      text-align:center;
      position: relative;
      left:92.3%; top:-50px;
      transition-duration: 0.5s;
  }

  .button2:hover {
      background: rgb(214, 33, 33);
      box-shadow: 0 8px 10px 0 rgba(255, 0, 0, 0.2), 0 6px 14px 0 rgba(255, 0, 0, 0.19);
  }
  
  .button2:active {
      background: rgb(158, 0, 0);
  }

  .button__text2,
  .button__icon2{
      display: inline-flex;
      align-items: center;
      padding-top: 0 3px;
      float: left;
      margin-right: 4px;
      color:whitesmoke;
      height: 100%;
  }


  hr.one{
    height: 4px;
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(to left, blue, red);
    position: relative;
    top: -45px;
    margin-left: auto;
    margin-right: auto;
  }

  footer{
    border-top: 2px solid rgb(0, 0, 0);
    position: RE;
    width: 100%;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

label{
  width:100px;
  display: inline-block;
}

input{
  border:none;
  border-radius: 10%;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width:250px;
  outline:none;
}

input:focus::placeholder {
color:transparent;
}

input::placeholder {
color: #222;
transition: color 0.3s ease;
}

.select{
  padding: 8px 12px;
  position:relative;
  color: #333333;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  cursor: pointer;
  border-radius: 5px;
  top:-13px;
}

.red-text{
  color:red;
}

.d-none{
  display: none;
}